@tailwind utilities;

/* This CSS targets the span inside your link elements with the group class */
.group:hover .underline::before {
    @apply scale-x-100; /* This applies the full scale effect on hover */
  }
  
  .underline::before {
    @apply absolute block w-full h-px bg-black scale-x-0 transition-transform duration-400 ease-in-out;
    content: '';
    bottom: 0;
    left: 0;
  }

@media (max-width: 640px) {
  .side-panel-full {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
  }
}

.game-item {
position: relative;
background-size: cover;
background-position: center;
}

.game-item-hover {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-size: cover;
background-position: center;
opacity: 0;
transition: opacity 0.3s ease-in-out;
}

.game-item:hover .game-item-hover {
opacity: 1;
}

/* Star colour for tier */
.star {
  color: gray; /* Default star color */
  font-size: 14px; /* Adjust size as needed */
}

.star.bright {
  color: gold; /* Bright star color */
}

/* Tooltip styling for app */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  padding: 0.15em 0.3em;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 0.25em;
  white-space: nowrap;
  font-size: medium;
  font-weight: normal;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -10%;
  left: 110%;
  transition-property: visibility;
  transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 0.3s;
  opacity: 100%;
}

@media (max-width: 768px) {
  .tooltip .tooltiptext {
    font-size: 12px;
  }
}