@tailwind utilities;

/* This CSS targets the span inside your link elements with the group class */
.group:hover .underline::before {
    @apply scale-x-100; /* This applies the full scale effect on hover */
  }
  
  .underline::before {
    @apply absolute block w-full h-px bg-black scale-x-0 transition-transform duration-400 ease-in-out;
    content: '';
    bottom: 0;
    left: 0;
  }

.game-item {
position: relative;
background-size: cover;
background-position: center;
}

.game-item-hover {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-size: cover;
background-position: center;
opacity: 0;
transition: opacity 0.3s ease-in-out;
}

.game-item:hover .game-item-hover {
opacity: 1;
}

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    width: 10px;
  }
  .scrollbar-medium::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border-radius: var(--scrollbar-track-radius);
  }
  .scrollbar-medium::-webkit-scrollbar-track:hover {
    background-color: var(--scrollbar-track-hover, var(--scrollbar-track));
  }
  .scrollbar-medium::-webkit-scrollbar-track:active {
    background-color: var(--scrollbar-track-active, var(--scrollbar-track-hover, var(--scrollbar-track)));
  }
  .scrollbar-medium::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: var(--scrollbar-thumb-radius);
    border: 2px solid rgba(0, 0, 0, 0.5);
  }
}