@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/public/fonts/Segoe\ UI.ttf') format('ttf');
}

main {
  font-family: 'Segoe UI'
}

body {
    font-family: 'Segoe UI'
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}